@model CustomerAddressListModel
@{
    Layout = "_ColumnsTwo";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
    //page class
    Html.AppendPageCssClassParts("html-account-page");
    Html.AppendPageCssClassParts("html-address-list-page");
}
@section left
{
    @await Html.PartialAsync("_CustomerNavigation", "address-book")
}
<div class="page account-page address-list-page">
    <div class="p-title">
        <div class="row">
            <div class="col-sm-6">
                <h5> @T("MyAccount.Addressbook") </h5>
            </div>
            <div class="col-sm-6 text-sm-right">
                <button class="btn btn-sm bg-light-green text-white rounded-0 shadow-sm"
                        onclick="location.href='@Url.RouteUrl("CustomerAddressAdd")'">
                    @T("Common.AddNew")
                </button>
            </div>
        </div>
    </div>
    <div class="page-body pt-3">
        <nop-antiforgery-token />

        <div class="card border-0 shadow-sm">
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">@T("MyAccount.Addressbook.Name")</th>
                            <th scope="col">@T("MyAccount.Addressbook.Address")</th>
                            <th scope="col">@T("MyAccount.Addressbook.Region")</th>
                            <th scope="col">@T("MyAccount.Addressbook.PhoneNumber")</th>
                            <th scope="col">#</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Addresses.Count > 0)
                        {
                            foreach (var address in Model.Addresses)
                            {
                                <tr>
                                    <td> @address.FirstName &nbsp; @address.LastName </td>
                                    <td>
                                        @if (address.IsDefaultShippingAddress)
                                        {
                                            <span 
                                                  class="d-block bg-light text-success rounded-pill text-center mb-1 shadow-sm"
                                                  style="font-size: 11px;">
                                                Default Shipping Address
                                            </span>
                                        }
                                        @if (address.IsDefaultBillingAddress)
                                        {
                                            <span 
                                                  class="d-block bg-light text-success rounded-pill text-center mb-1 shadow-sm"
                                                  style="font-size: 11px;">
                                                Default Billing Address
                                            </span>
                                        }
                                        @address.Address1
                                    </td>
                                    <td> @address.Region - @address.City - @address.Area </td>
                                    <td> @address.PhoneNumber </td>
                                    <td>
                                        <input type="button" class="button-2 btn btn-primary edit-address-button" onclick="location.href = '@(Url.RouteUrl("CustomerAddressEdit", new {addressId = address.Id}))'" value="@T("Common.Edit")" />
                                        <input type="button" class="button-2 btn btn-primary delete-address-button" onclick="deletecustomeraddress(@(address.Id))" value="@T("Common.Delete")" />
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="5"> @T("Account.CustomerAddresses.NoAddresses") </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@if (Model.Addresses.Any())
{
    <script type="text/javascript" asp-location="Footer">
        function deletecustomeraddress(addressId) {
            if (confirm('@T("Admin.Common.AreYouSure")')) {
                var postData = {
                    addressId: addressId
                };
                addAntiForgeryToken(postData);

                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "@Url.Action("AddressDelete", "Customer")",
                    data: postData,
                    dataType: "json",
                    success: function (data, textStatus, jqXHR) {
                        location.href = data.redirect;
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert('Failed to delete');
                    }
                });
            }
        }
    </script>
}